.demand-cols .column{
	margin-bottom: 24px;
}

.upper-pad {
	padding-top: 46px;
}

.deet {
	display:inline-block;
	margin-right: 16px;
}

.deet img {
	height: 24px;
	width: auto;
	margin-right: 6px;
	position:relative;
	top: 5px;
}

p { -webkit-text-size-adjust: 100% !important; }

/* subpage */

a { color: #000; }

.clear { clear:both; }

.submenu {
	margin-top: 16px;
	height: 100%;
	float:left;
	width: 200px;
	margin-bottom: 32px;
}

.home-link {
	display:none;
}

.UnderstandYourEnemyPage .white li {
	margin-left: 24px;
	margin-bottom: 16px;
}

.UnderstandYourEnemyPage .white em {
	font-style:italic;
	display:block;
	margin-top: 8px;
}

.UnderstandYourEnemyPage .first-row img {
	width: 100% !important;
}


 @media only screen and (min-width:1111px) {
.home-link {
	display:block;
}
 }

.white label { color: #000 !important; }

.banner {
	
	background-size:cover;
}

.MissionPage .banner {
	margin-top:0;
}

.submenu li {
	float:left;
	margin-right: 12px;
}

.submenu a {
	font-size: 30px;
	color: #FFF;
	text-decoration:none;
}

.banner #Breadcrumbs {
	background: #000;
	padding: 3px;
	margin-top:54px;
}

.subpage-banner h1 {
	font-size: 60px;
	margin-top: -10px;
	color: #FAD800;
	background: #000;
	display: inline-block;
	clear: both;
	padding: 6px 14px;
}

table td { vertical-align: middle; }

table a { text-decoration:none; }

table a:hover { text-decoration: underline; }

table td img {
	margin-right: 6px;
	height: 25px;
	width: auto;
}

.banner .wrapper h1 { margin-top: 42px; }

.subpage-banner  {
	height: 450px;
	position:relative;
}

.subpage strong {
	margin-bottom: 16px;
	display: block;
}

.JoinTheFightPage .banner, .banner.jointhefightbanner, .JoinTheFightSubPage .banner { background: url('../../../assets/Uploads/hallway-brothel-doors-export.jpg'); background-position: center center; }

.JoinTheFightPage .banner .wrapper, .JoinTheFightSubPage .banner .wrapper, .banner.jointhefightbanner { height: 300px; }

.JoinTheFightPage .banner .wrapper h1, .JoinTheFightSubPage .banner .wrapper h1, .banner.jointhefightbanner .wrapper h1 { margin-top: 60px; }

.banner.jointhefightbanner {
	
}

.sub-banner-text {
	padding: 200px 0 0 0;
}

.MissionPage .subpage-banner h2{
	right: 0;
	top: auto;
	bottom: 50px
}

.subpage-banner h2 {
	display: inline;
	line-height: 56px;
	font-size: 56px;
	text-align: right;
	position: absolute;
	top: 50px;
	left: 0;
}

.subpage-banner h2 em, .banner .wrapper h2 em, .banner .wrapper h2 strong, .subpage-banner strong {
	display:inline-block;
	background:#000;
	color: #FFF;
	margin: 2px 0;
	padding: 2px 12px 5px 12px;
}

.banner .wrapper h2 strong, .subpage-banner strong {
	
	font-weight:normal;
	color: #000;
	background: #FAD800;
	background-image:url(../images/stripe_tile.png);
}

.banner {
	background-size: cover;
	background-position: top left;
}

.page-19 .banner {
	
	background-position: center center;
}

.submenu .current a { border-bottom: 1px #FAD800 solid; }

a.current { color: #FAD800; }

#Breadcrumbs {
	margin-top: 16px;
	font-size: 14px;
	display:inline-block;
	margin-bottom:15px;
}



.white #Breadcrumbs, .white #Breadcrumbs a {
	color: #000;
	padding: 0;
}

#Breadcrumbs, #Breadcrumbs a {
	color: #FFF;
	text-transform:lowercase;
	text-decoration:none;
}

.JoinTheFightPage .subpage { padding-top: 0; }

.subpage { padding-top: 44px; }

.subpage article {
	-webkit-column-gap: 40px;
	-webkit-column-count: 3;
}

.subpage p {
	margin-bottom: 16px;
	font-size: 18px;
	font-size: 16px;
	line-height: 1.5em;
}

.subpage h1 {
	font-size: 70px;
	line-height: 50px;
	margin-bottom:32px;
	color: #FAD800;
}

.subpage h2 {
	font-size: 36px;
	margin-top: 40px;
	margin-bottom:12px;
}

.subpage h2 { margin-top: 60px; }

.subpage h2:first-child, .UseYourVoicePage h2:first-child, .subpage h2.first { margin-top: 42px; }

header .wrapper { position:relative; }

header .current a.level-1, header ul li.section>a.level-1 {
	border-bottom: 2px #FAD800 solid;
	padding-left: 0px;
	padding-right: 0px;
	margin-right: 14px;
	margin-left: 14px;
}

form label, form a { color: #FFF !important; }

/* homepage */

body {
	height: auto !important;
	font-family: "proxima-nova", Arial;
	font-size: 18px;
}

html, header { }

.peeps { }

.scale-me {
	transform: all 0.5s;
	position:absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 999;
}

.parallax-me {
	position:absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 999;
}
 @media only screen and (min-width:1380px) {
/*
.scale-me {
	-webkit-transform:scale(1.13,1.13);
}

.scale-me {
	-webkit-transform:scale(1.19,1.19);
}
*/

}
 @media only screen and (min-width:1680px) {

body.HomePage .text { top: 34%; }

.scale-me { -webkit-transform:scale(1.19, 1.19); }

.four .scale-me .text { top: 42%; }

.banner.one .bg { background-position: 100% 50%; }

.line2b-wrap { margin-left: 45px !important; }
}

.peeps div { position:relative; }

.banner, .banner *, #timeline .lbl, #timeline .person-marker, #side-graphic, header img {
	-webkit-font-smoothing:antialiased;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-ms-perspective: 1000;
	perspective: 1000;
}

.join-the-fight, .header, .footer { -webkit-font-smoothing:antialiased; }

#timeline .lbl { transition: all 0.2s; }

#side-graphic {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	width: 30%;
	height: 0;
	background: url(../images/layout/banners/side_graphic.png) top left no-repeat;
	opacity: 0.6;
}

#side-graphic img { width: 100%; }

h1, h2, h3 { font-family: 'Dev Gothic'; }

.devgothic, header, .counter {
	font-family: 'Dev Gothic';
	color: #FFF;
}

.counter {
	position:relative;
	display:inline-block;
	background: #000;
	padding: 4px;
	font-size:25px;
	margin-bottom: 6px;
	opacity: 0;
	display:none;
}

body {
	color: #FFF;
	background: #000;
	margin:0;
}

.wrapper {
	width: 1120px;
	margin: 0 auto;
}

.mobile .layout { padding-top: 0; }

header {
	background: #000;
	width: 100%;
	font-size:22px;
	padding-top:32px;
	height: 104px;
	padding-bottom: 32px;
	z-index: 99999;
}

.mobile header { position:static; }

.social img { width: 29px; }

header ul.social li a {
	padding: 0;
	margin: 0;
}

ul.mainmenu { line-height: 23px; }

.logo-wrap img { width: 206px; }

.logo-wrap {
	overflow:hidden;
	display:inline-block;
	width: 206px;
	height: 63px;
	transition: all 0.2s !important;
	float: left;
}

header.transition, header.transition img { transition: height 0.5s, width 0.5s, padding 0.5s; }

header.transition ul { transition: margin 0.5s; }

#timeline .lbl {
	background:#000;
	font-family: 'Dev Gothic';
	font-size:23px;
	transition: 0.2s;
	padding: 7px 14px;
	border:1px #FFF solid;
	z-index:100;
	position:relative;
	display:inline-block;
	position:absolute;
	top:0;
	width: 95px;
	right:0;
}

header ul {
	margin-top:16px;
	float:right;
	height: 40px;
}

header ul {
	margin-top:16px;
	float:right;
	height: 40px;
}

header .wrapper { height: 7a0px; }

header ul a {
	display: inline-block;
	padding: 7px 13px;
	text-decoration: none;
	color: #FFF;
	text-transform: uppercase;
	font-family: 'Dev Gothic';
	position: relative;
	z-index: 100;
}

header.transition ul a, header.transition ul ul { transition: all 0.2s; }

header ul ul {
	pointer-events:none;
	background: #000;
	position:absolute;
	top: 25px;
	height: 0;
	left: -2px;
	margin: 0;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	/* IE 5-7 */
	filter: alpha(opacity=0);
	/* Netscape */
	-moz-opacity: 0;
	/* Safari 1.x */
	-khtml-opacity: 0;
	height: auto;
	padding: 16px;
	padding-bottom: 8px;
}

header ul ul a { display:none; }

header ul ul li a {
	clear:both;
	font-size:22px;
	padding: 0;
	line-height: 1.6em;
}

header ul li a:hover { color: #FAD800; }

header ul li ul li {
	clear:both;
	white-space:nowrap;
	margin-left:0 !important;
}

header ul li:hover ul a { display:block; }

header ul li:hover ul {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	/* IE 5-7 */
	filter: alpha(opacity=100);
	/* Netscape */
	-moz-opacity: 100;
	/* Safari 1.x */
	-khtml-opacity: 100;
	top: 30px;
	height: auto;
	pointer-events:auto;
}

.header li {
	margin-left:22px;
	float:left;
	position:relative;
}

.right-off-canvas-toggle {
	color: #FFF;
	padding: 7px 14px;
	border: 1px #FFF solid;
	transition: 0.2s;
}

.right-off-canvas-menu {
	background: #000;
	height: 600px;
}

.right-off-canvas-menu ul {
	float:left;
	margin-top: 0;
}

.right-off-canvas-menu ul li { 

float:none; }

.right-off-canvas-menu ul li a{
	border-bottom: 1px #FFF solid;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 4px;
}

.right-off-canvas-menu ul li.smallmenu a{
	border:none;
}

li.join a.level-1 {
	transition: 0.2s;
	padding: 7px 14px;
	border: 1px #FFF solid;
	z-index: 99;
	margin-left: 12px;
	position:relative;
}

li.join a.level-1:hover, li.join.current a.level-1, li.join.section a.level-1, .right-off-canvas-toggle:hover {
	background: #FFF;
	padding: 7px 14px;
	margin-right: 0;
	color: #000;
	border: 1px #FFF solid;
}

header .wrapper { position: position; }

ul.social {
	padding-top:5px;
	margin-left:30px;
	z-index: 99;
	position:relative;
}

ul.social li { margin-left: 16px; }

/* banners */

.banners .banner {
	position: relative;
	padding-bottom: 44%;
	width: 100%;
	opacity:0.25;
	overflow:hidden;
	margin: 0 auto;
}

.banners .banner.one { opacity: 0.25; }

.banners .banner.four { }

.five {
	position:relative;
	overflow:hidden;
}

.five .five-col {
	width: 50%;
	float:left;
	position:relative;
}

.five .five-col { }

.five .video img { width: 100%; }

.five .video, .five .exile { position:relative; }

.five .five-text {
	position:absolute;
	bottom: 40px;
	left: 55%;
}

.five .tainted .five-text { left: 10%; }

.five .five-text p { font-family: "Dev Gothic"; }

.five .five-text {
	color: #FFF;
	display:inline-block;
	font-family: "proxima-nova";
	font-size: 36px;
	margin-bottom: 4px;
}

.see-action {
	-webkit-font-smoothing:antialiased;
	top: 30%;
	left: 35%;
	background: #000;
	color: #FAD800;
	top: 36%;
	left: 18%;
	font-family: "Dev Gothic";
	font-size: 40px;
	display:inline-block;
	padding: 9px;
	margin-bottom: 6px;
}

.five .video .play {
	margin-left: 0;
	position:static;
}

.five img.inline-play { width: 76px !important; }

.play {
	width: 76px;
	height: 76px;
	background: url(../images/play.png) center center no-repeat;
	position:absolute;
	top: 50%;
	left: 50%;
	margin-top: -38px;
	margin-left: -38px;
}

.exile h3 {
	position:absolute;
	white-space: nowrap;
	right: 5%;
	background: #000;
	top: 33%;
	padding: 5px;
}

.exile p {
	position: absolute;
	top: 45%;
	right: 5%;
	background: #FAD800;
	color: #000000;
	padding: 8px;
	font-size: 23px;
}

.five img { width: 100%; }

.five .video { position:relative; }

.five .exile {
	float:left;
	width: 45%;
}

.banner .bg {
	background: url(../images/layout/banners/banner1_blocked.jpg) center center;
	background-size: cover;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height: 100%;
}

.banners .banner.two .bg {
	background-image: url(../images/layout/banners/banner2_blocked.jpg);
	background-position: 50% 69%;
}

.banners .banner.three .bg {
	background-image: url(../images/layout/banners/girl3.jpg);
	background-position: 50% 127%;
}

.banners .banner.three .bg {
	background-image: url(../images/layout/banners/banner3_blocked.jpg);
	background-position: 50% 50%;
}

.banners .banner.four .bg { 
	background-image: url(../images/banners/hallway.jpg);

 }
 
 .banners .banner.four .bg .thelight { 
 	width: 100%;
	height: 100%;
	position:absolute;
	top: 0;
	left: 0;
	background-size:cover;
	background-position: center center;
	background-image: url(../images/banners/hallway-light.jpg);
	opacity: 0;

 }
 
 
  .banners .banner.four .bg .barleft { 
 	width: 48%;
	height: 100%;
	position:absolute;
	top: 0;
	left: 0;
	background-size:cover;
	background-position: top right;
	background-image: url(../images/banners/bars-left.jpg);

 }
 
  .banners .banner.four .bg .barright { 
 	width: 48%;
	height: 100%;
	position:absolute;
	top: 0;
	right: 0;
	background-size:cover;
	background-position: top left;
	background-image: url(../images/banners/bars-right.jpg);

 }
 

.banners .banner.four .bg img {
	width: 20%;
	height: 34%;
	float:left;
	display:block;
	opacity: 0.25;
	position:relative;
}

/* timeline */

#timeline .age-7 { top:30px; }

#timeline {
	clip: rect(auto, auto, auto, auto);
	overflow:hidden;
	margin-top: -25px;
	text-align:center;
	position:absolute;
	right:150px;
	height: 0;
	display:none;
	opacity: 0;
	width:100px;
	z-index:105;
	background: url(../images/timeline.png) center center repeat-y;
}


 @media only screen and (min-width:1220px) {
	 #timeline {
	display:block 
	 }
 }
.person-marker {
	position:absolute;
	top: 0;
	right: 38px !important;
}

.HomePage .text, .HomePage .mobile-text {
	text-align: center;
	position:	absolute;
	top:33%;
	z-index: 100;
	left:0;
	width: 100%;
	line-height: 60px;
}

.peeps img {
	position:relative;
	top:0;
	display:inline-block;
	vertical-align:baseline;
}

.peeps {
	white-space:nowrap;
	padding-top:24px;
	text-align:left;
	width:743px;
	position:relative;
	margin:0 auto;
	line-height: 30px;
}

.two .peeps { text-align: right; }

.peeps img { opacity: 0; }

.HomePage .text p, p.yellow {
	opacity:0;
	font-size: 53px;
	padding:6px 14px;
	margin-bottom: 4px;
	background:#000;
	font-family: 'Dev Gothic';
	display:inline-block;
	position:relative;
	z-index: 100;
}

.HomePage .three .text p { line-height: 44px; }

.one .text p.yellow { width: 202px; }

.one .text .first-line p {
	position:absolute;
	left:44%;
}

.one .text .first-line p.first {
	left:auto;
	right: 56.4%;
}

.one .text .first-line p.third { left: calc(44% + 210px); }

.text p span {
	white-space:nowrap;
	display:inline-block;
	overflow:hidden;
	width: 0;
}

.one .text p.line2 { margin-top: 44px; }

.text p.line2 {
	font-size: 29px;
	vertical-align:bottom;
}

.line2b {
	margin-right: 51px;
	vertical-align:bottom;
}

.two .text { top: 34%; }

.two .text p.line2 {
	font-size: 42px;
	line-height: 31px;
}

.two .text p.line3 {
	font-size:  36px;
	line-height: 31px;
}

.text p.yellow, p.yellow, span.yellow, span.m-yellow {
	background: #FAD800 !important;
	color: #000;
	background-image:url(../images/stripe_tile.png) !important;
}

.one .text p.line2b span {
	width: 0%;
	padding-left: 8px;
}

.one .text p.line2b {
	width: 0;
	overflow:hidden;
	white-space:nowrap;
	padding-left: 3px;
	margin-left: -40px;
	height: 35px;
	margin-top: 28px;
	line-height: 24px;
}

.line2b-wrap {
	display:inline-block;
	text-align:left;
	margin-left: 77px;
}

.two { position:relative; }

.yellow-box {
	position: absolute;
	left: 42%;
	display: inline-block;
	background: #FAD800;
	width: 220px;
	background-image:url(../images/stripe_tile.png);
	height: 56px;
	z-index: 1;
}

.first-line, .second-line {
	position: relative;
	z-index:2;
	line-height: 44px;
}

.two .first-line { margin-top: 20px }

.one .second-line { position: relative; }

.two .yellow-box {
	top: 35.5%;
	width: 18%;
	left: 40%;
	height: 10%;
	background:#111;
	background-image:url(../images/stripe_tile.png);
	-webkit-transform: rotate(2deg);
}

.three .yellow-box {
	position: absolute;
	left: 53%;
	top: 39%;
	display: inline-block;
	display:none !important;
	background: #000;
	width: 21%;
	height: 10%;
	z-index: 100;
}

.HomePage .three .text { height: 165px; }

div .banner.two .yellow { width: 349px; }

div .banner.three .yellow {
	text-align:center;
	height: auto;
	width: 250px;
	left: 48px;
	opacity: 0;
}

div .banner.three .yellow span {
	display:inline-block;
	overflow:hidden;
	width: 0;
}

div .banner.three .text {
	height: 165px;
	padding-top:32px;
}

#circles-1 { opacity: 0; }

.staticCircles #circles-1 { background: url(../images/99percent.png) center center no-repeat; }

.staticCircles #circles-2 { background: url(../images/80percent.png) center center no-repeat; }

.staticCircles #circles-2, .staticCircles #circles-3 {
	width: 80px;
	height: 80px;
}

.staticCircles #circles-3 { background: url(../images/50percent.png) center center no-repeat; }

div .banner.three .line1, div .banner.three .line2, div .banner.three .line3 { }

div.join-the-fight {
	padding-bottom:78px;
	padding-top:78px;
	position:relative;
	text-align: center;
	position: relative;
	z-index: 1000;
	background: #000;
}

.HomePage div.join-the-fight {
	padding-bottom:78px;
	padding-top:78px;
	position:relative;
	text-align: center;
	position: relative;
	z-index: 1000;
	background: #000;
}

.five, .footer {
	position:relative;
	z-index: 1000;
	background: #000;
}

.join-the-fight a {
	color: #FFF;
	font-family: 'Dev Gothic';
	font-size: 52px;
	text-decoration: none;
	display: inline-block;
	padding: 14px 24px;
	border: 2px #FFF solid;
	transition: all 0.2s;
}

.join-the-fight a:hover, .join-the-fight a.sel {
	background: #FFF;
	color: #000;
}

.yellow-bar {
	position:relative;
	z-index: 1001;
	background: #FAD800;
	background-image:url(../images/stripe_tile.png);
	color: #000;
	overflow: hidden;
	padding: 28px 0px 28px 0;
	font-size:24px;
}

.yellow-bar h3 { margin-bottom: 6px; }

.yellow-col {
	width: 260px;
	float: left;
}

.yellow-bar a {
	color: #000;
	text-decoration: none;
}

.yellow-col.take-action { margin-left: 174px; }

.yellow-col.f-right { float: right; }

.yellow-col img {
	float:left;
	margin-right: 24px;
	padding-bottom: 52px;
}

.yellow-col .social img {
	clear:left;
	padding-bottom: 16px;
	margin-top: 6px;
}

.yellow-col h3 {
	font-size:42px;
	margin-bottom:6px;
}

.circles-text {
	font-size: 53px;
	font-family: 'Dev Gothic';
	color: #FFE800;
	text-align:right;
}

.circle {
	position:relative;
	z-index:150;
	vertical-align: middle;
	display: inline-block;
}

.three #circles-1 {
	width: 160px;
	height: 165px;
}

.three .text p { vertical-align: middle; }

.three .text p.line2 { font-size: 53px; }

.three .text p.line4, .three .text p.line5, .three .text p.line6 {
	font-size:18px;
	line-height: 18px;
}

/* circ */

.small-circles {
	padding-top: 18px;
	text-align:left;
	width:784px;
	margin: 0 auto;
	position:relative;
}

.three .yellow-box {
	position: absolute;
	left: 52%;
	top: 37%;
	display: inline-block;
	background: #000;
	width: 21%;
	height: 11%;
	z-index: 100;
}

.four { z-index:9999; }

.four .black-box {
	opacity:0;
	position: absolute;
	left: 0;
	top: 33.2%;
	display: inline-block;
	background: rgba(0,0,0,0.5);
	width: 100%;
	height: 33.5%;
	z-index: 100;
}

.four .text { top: 44%; }

.four .yellow { padding-bottom: 12px; }

.four .text p {
	vertical-align:top;
	font-size: 72px;
}

.four .text p.line-left {
	padding-bottom: 2px;
	top: 12px;
	margin-top: -12px;
}

.four .text p.line-right {
	padding-bottom: 9px;
	top: 12px;
	margin-top: -12px;
}

h3 { font-size: 44px; }

.mini-circ-2, .mini-circ-1 {
	position:relative;
	display:inline-block;
	opacity: 0;
	margin-right:24px;
}

.footer {
	padding: 120px 0;
	font-size: 20px;
	overflow:hidden;
	background: #000;
}

.footer .col3 {
	float:right;
	text-align:right;
	font-size: 18px;
	width: 400px;
}

.footer .col1 {
	float:left;
	width: 312px;
	text-align:left;
}

.footer .column a {
	color: #FFF;
	text-decoration: none;
}

.footer .our-allies {
	font-size: 18px;
	float:left;
	width: 400px;
	text-align:left;
}

.footer .our-allies img {
	margin-top: 6px;
	margin-right: 6px;
}

.bot-logo { float:right; }

.bot-social img { margin: 0 0 12px 6px; }

.footer .mail {
	display:inline-block;
	background: url(../images/email_icon.png) center left no-repeat;
	padding: 4px 0;
	padding-left: 52px;
}

.footer .phone {
	display:inline-block;
	background: url(../images/footer-phone.png) center left no-repeat;
	padding: 5px 0;
	padding-left: 52px;
}

.dark-col {
	-webkit-font-smoothing:antialiased;
	float:left;
	width: 340px;
	float:left;
	margin-right: 50px;
	padding-bottom: 40px;
	font-size: 21px;
	line-height: 1.5em;
}

.dark-col h2 {
	margin-top: -10px;
	background: #FAD800;
	background-image:url(../images/stripe_tile.png);
	display:inline-block;
	font-size: 38px;
	padding: 6px 12px;
	color: #000;
}

.dark-col.last { margin-right: 0; }

.white {
	background: #FFFFF9;
	color: #000;
	font-size: 16px;
	line-height: 1.5em;
	padding-bottom: 82px;
}

.white h1 {
	font-size: 50px;
	background: #000;
	display: inline-block;
	padding: 2px 18px;
}

.page-15 .white h1 { margin-top: 50px; }

.white h2 {
	background: #FAD800; /* url(../images/stripe_tile.png);*/
	display:inline-block;
	padding: 8px 16px;
	color: #000;
	margin-bottom: 30px;
	line-height: 29px;
}

.white article { -webkit-column-count: 1; }

h1, h2, h3 { -webkit-font-smoothing:antialiased; }

/* BLOG */

.subpage p.authorDate {
	font-size: 14px;
	-webkit-font-smoothing:antialiased;
	display: inline-block;
	margin-bottom: 21px;
	font-size: 18px;
	display: inline-block;
	font-family: "Dev Gothic";
}

.post-image { max-width: 100%; }

.blog-left {
	width: 55%;
	float:left;
}

.blog-left-side {
	width: 20%;
	float: left;
	padding-right: 34px;
}

.blogEntry {
	overflow:hidden;
	border-top: 2px #000 solid;
	padding-bottom: 31px;
	margin-top: 12px;
}

.blogEntry.FirstEntry {
	margin-top: 0;
	border-top: 0px #000 solid;
}



.blog-right a { text-decoration:none; }

.blog-right a:hover { text-decoration:underline; }

.blog-right .WidgetHolder h3 {
	font-family: "proxima-nova";
	font-size: 21px;
	padding-bottom: 9px;
	border-bottom: 2px #000 solid;
	margin-bottom: 11px;
}

.blog-right .WidgetHolder { margin-top: 32px; }

.blog-right .WidgetHolder:first-child { margin-top: 0; }

.subpage h2.postTitle { margin-top: 48px; }

.subpage h2.postTitle a { text-decoration:none; }

.subpage h2.postTitle.firstPostTitle { margin-top: 0; }

#Sidebar { transition: all 0.5s; }

#Sidebar.mini { }

.read-left {
	width: 25%;
	float:left;
}

.read-left img {
	width: 100%;
	height: auto;
	position: relative;
}

.read-right {
	float:right;
	width: 70%;
}

.read-right .button {
	float:right;
	margin-top: 20px;
}

.read-right p {
	-webkit-column-count: 2;
	-webkit-column-gap: 37px;
}

.read-right h2 {
	margin-bottom:32px;
	margin-top: 0;
}

/* Donate */

.donate-page-wrap {

	overflow: hidden;
	padding-bottom: 22px;
	margin-bottom: 25px;
}

.hr {
	height:3px;
	background: #000;
	margin-bottom: 32px;
}


.donate-col.first { margin-left: 0; }

.donate-col h3 {
	font-size: 19px;
	margin-bottom:9px;
	font-family: "proxima-nova";
}

.donate-col select {
	margin-bottom: 9px;
	margin-top: 9px;
}

.donate-col form {
	width: auto;
	margin-bottom: 16px;
}

.readmore, .subscribeLink {
	display:inline-block;
	margin-top: 12px;
	padding: 6px 12px;
	background: #000;
	color: #FFF;
	text-transform:uppercase;
	font-family: 'Dev Gothic';
	text-decoration:none !important;
	transition: all 0.2s;
	font-size: 18px;
	-webkit-font-smoothing: antialiased;
}

.readmore:hover, .subscribeLink:hover {
	background: #FAD800;
	color: #000;
	text-decoration:none;
}

.selectedBlogArea {
	font-family: "proxima-nova";
	font-size: 21px;
	margin-bottom:20px;
}

.post-image { margin-bottom:12px; }

/* new transition test */

.box1test {
	background: url(../images/layout/banners/banner1_base_original.jpg) center center;
	background-size: cover;
	width: 19.9%;
	height: 33.3%;
	position: absolute;
	left: 20%;
	bottom: 0;
	z-index: 999;
}

.arrow-down {
	background: url(../images/arrow-down-yellow.png) center center no-repeat;
	width: 93px;
	height: 47px;
	margin-left: -47px;
	margin-top: -20px;
	position:absolute;
	bottom: 350px;
	left: 50%;
	z-index: 1000;
	opacity: 0;
	text-align:center;
	cursor:pointer;
}

.voice-cols {
	overflow:hidden;
	clear:both;
}

.voice-col {
	width: 30%;
	float:left;
	margin-left: 5%;
}

.voice-col strong, .dev-intro p strong {
	font-family: "Dev Gothic";
	font-size: 25px !important;
}

.voice-col.first { margin-left: 0; }

.movement-left {
	width: 710px;
	float:left;
}

.movement-right {
	float:right;
	width: 375px;
}

.movement-right strong {
	display:block;
	margin-bottom:12px;
}

.movement-right p { margin-bottom: 0; }

.blog-share {
	float:left;
	padding-top: 15px;
}

.readmore { float:right; }

.blog-share img { margin-right:5px; }

.year_title {
	font-size: 18px;
	cursor:pointer;
}

.archiveMonths {
	margin-bottom: 16px;
	display:none;
}

.year .archiveMonths:first-child { display:block; }
 @media only screen and (max-width:1365px) {

#timeline {
	right:auto;
	left:1080px;
}

#timeline .lbl {
	font-size: 20px;
	width: 86px;
}
}

.PageNumbers {
	display:inline-block;
	border: 2px #000 solid;
	list-style:none;
	margin-top: 64px;
	font-family: "Dev Gothic";
}

.PageNumbers li a {
	transition: all 0.2s;
	text-decoration:none;
	padding: 7px 14px;
	display:inline-block;
}

.PageNumbers li {
	float:left;
	list-style:none !important;
}

.PageNumbers li.disabled a { cursor:not-allowed; }

.PageNumbers li a:hover { background: #FAD800; color: #000;}

.PageNumbers li.disabled a:hover { background: #EEE; }

.PageNumbers li.active a {
	background: #000;
	color: #FFF;
}

/* cool span title */

/* changed: use outline for wider browser support */

.postTitle {
	background: none !important;
	padding: 8px !important;
	line-height: 31px;
	border-left: 3px #fff solid;
}

.page-70 .postTitle > span {
    outline: 10px solid #FAD800;
    background: pink;
    display: block;
    padding-top: 12px;
    padding-bottom: 5px;
    background: #FAD800 !important;
}

.postTitle > span { outline: 10px solid #FAD800; }

.postTitle > span > a {
	background: #FAD800;
	/* hide rounding gaps between text box and outline */
  box-shadow: -1px 0 0 #FAD800, 1px 0 0 #FAD800;
	color: #000;
	position: relative;
}

/* use your voice */

.u-social, .u-social-1, .u-social-2 { float:left; }

.u-social {
	width: 55px;
	margin-right: 32px;
}

.u-social-1 { width: 250px; }

.church-1 {
	width: 305px;
	float:left;
}

.u-social-2, .church-2 {
	float:right;
	width: 730px;
}

/* IE IE8 specifics */

.ie8 .four .text p.line-left span { width: 650px !important; }

.ie8 .arrow-down { bottom: 20px; }

.ie8 .one .text p.first span { width: 259px !important; }

.ie8 .one .text p.third span { width: 220px !important; }

.ie8 .one .text p { position:static !important; }

.ie8 .one .text p.line2b { margin-top: 16px; }

.ie8 .one .text p.line2b, .ie8 .one .text p.line2b span { width: 728px !important; }

.ie8 .two .text p.yellow span { width: 320px !important; }

.ie8 .three p.yellow span { width: 140px !important; }

/* join the fight subpage */

.JoinTheFightSubPage ol, .JoinTheFightSubPage article ul {
	overflow:hidden;
	clear:both;
	margin-left: -69px;
}

.JoinTheFightSubPage ol li img { margin-bottom: 6px; }

.JoinTheFightSubPage ol li { list-style:none; }

.JoinTheFightSubPage ol li, .JoinTheFightSubPage article ul li {
	width: 27%;
	margin-bottom: 24px;
	float: left;
	margin-left: 6%;
	list-style:none;
}

.JoinTheFightSubPage article ul li { list-style:none }

a:hover { text-decoration:none !important; }

.disclaimer { font-size: 14px; }

.row { max-width:1280px !important; }

.yellow-bar .left {
	margin-right: 10%;
	width: 30%;
}

.yellow-bar .right { width: 60%; }

.smallmenu {
	font-size: 18px;
	padding-left: 12px;
}

.y-text { float:left; }

.y-icon { float:left; }

.action-enlist .y-icon { width: 100px; }

.action-enlist .y-text { width: 140px; }

.take-action .y-icon { width: 52px; }

.take-action .y-icon img {
	clear: left;
	padding-bottom: 16px;
	margin-top: 6px;
	width: 29px;
	display:block;
}

.donate .y-icon { width: 120px; }

.donate .y-text { width: 176px; }

.last-col { text-align:right; }

.mobile-text {
	font-family: "Dev Gothic";
	font-size: 49px;
	line-height: 49px;
}



.four .mobile-text { top: 38%; }

.one .mobile-text { top: 18%; }

.three .mobile-text { top: 10%; }

.mobile-text .mini-text {

	line-height: 15px;
	margin-top:24px;
}

.mobile-text .mini-text span {
	font-size: 17px;
	line-height: 15px;
	margin: 3px;
}

.mobile-text span {
	background: #000;
	display:inline-block;
	padding: 9px 14px;
	line-height: 36px;
}


.SubPage .subpage-banner {
	margin-top: 0;
}



.subpage-banner .column, .subpage-banner .row {
	height: 100%;
}

.SubPage .subpage-banner strong {
	margin: 0 !important;
}

.sub-banner-text {
	height: 100%;
}

.page-11 .content .two-col img {
	margin-bottom: 6px;
}

table {
	background: none !important;
}

table td{
	font-size: 16px !important;
}

input {
	max-width: 100%;
}

 @media only screen and (max-width: 320px) {
.mobile-text {
	font-family: "Dev Gothic";
	font-size: 45px;
	line-height: 45px;
}

.MissionPage .subpage-banner h2 {
	line-height: 37px;
	font-size: 31px !important;
}

 }


/*Small screens */
@media only screen {


} /* Define mobile styles */
 @media only screen and (max-width: 40em) {

.take-action {
	margin: 19px 0 4px 0 !important;
}

.yellow-bar {
	padding: 16px 0px 16px 0
}

.yellow-bar h3 {
	font-size: 36px;
}

.yellow-bar p {
	font-size: 18px;
}

.two .mini-text {
	margin-top: 60px;
}

.mini-icons img {
	display:inline-block;
	margin: 0 -3px;
	width: 15px;
}

.y-icon {
	text-align:right;
}

.y-icon img {
	max-width: 80px;
}

.five img.inline-play {
	width: 49px !important;
}

.blog-right {
	padding-top: 64px;
}
	 
.header {
	padding-top: 26px;
	height: 90px;
}

.ReadPage .button{
	float:left;
}

.subpage-banner h2 {
	bottom: 50px;
	top: auto;
}

.page-11 .content .two-col a:first-child img {
	margin-top: 12px;
}
.page-11 .content .two-col img {
	display:block;
}

.subpage-banner {
	margin-top: 0;
}

.MissionPage .subpage-banner {
	margin-top: -16px;
}

.SubPage .subpage-banner {
	height: 430px;
}

.subpage-banner .column {
	position:relative;
	height: 100%;
}


.MissionPage .subpage-banner h2 {
	
	line-height: 37px;
font-size: 35px;
}

.subpage-banner h2 {
	display: inline;
	line-height: 36px;
	font-size: 41px;
	text-align: left;
	position:absolute;
	bottom: 50px;
	left:0;
}



.footer .mail, .footer .phone {
	background-size: 23px;
	padding-left: 32px;
}

.footer .bot-social img {
	width: 24px;
}

.footer .bot-logo {
	width: 45px;
}

.sub-banner-text {
	padding: 280px 0 0 0;
}

* {
	-webkit-column-count: 1 !important;
}

.footer {
	padding: 40px 0;
	font-size: 13px;
}

.yellow-sep {
	height: 3px;
	background: #000;
	margin: 1px -27px;
	margin-bottom: 17px;
}

.five .five-text { bottom: 7px; }

.our-alies { 
margin: 32px 0;

 }

.our-alies img {
	height: 44px;
}

.bot-logo { float:left; }

.last-col { text-align:left; }

.see-action { font-size: 26px; }

.take-action { margin: 24px 0 24px 0; }

.action-enlist .y-icon, .take-action .y-icon, .donate .y-icon { float:right; }

.logo-wrap {
	height: 53px !important;
	margin-top: -4px;
	width: 158px !important;
}

.join-the-fight a { font-size: 38px; }


.banners .banner {
	padding-bottom: 0%;
	height: 480px;
}

.five .five-col {
	width: 100%;
	float: left;
	position: relative;
	margin-bottom: -5px;
}


.one .mobile-text { top: 16%; }
.two .mobile-text { top: 28%; }


.banners .banner.two .bg {

	background-image: url(../images/layout/banners/banner2_mobile.jpg);
	background-size:contain%;
	background-position: 50% 69%;
}


} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* Medium screens*/
@media only screen and (min-width: 40.063em) {

.blog-right {
	float:right;
	width: 20%
}

header.mini .logo-wrap img { width: 150px; }
} /* min-width 641px, medium screens */
 @media only screen and (min-width: 40.063em) and (max-width: 64em) {

.row {
	
}

.four .mobile-text {
	font-family: "Dev Gothic";
	font-size: 64px;
	line-height: 49px;
}

.mobile-text {
	font-family: "Dev Gothic";
	font-size: 54px;
	line-height: 49px;
}

.four .mobile-text span {
	background: #000;
	display:inline-block;
	padding: 14px 18px;
	line-height: 46px;
}

.mobile-text .mini-text span {
	font-size: 22px;
	line-height: 22px;
	margin: 3px;
}


.banners .banner {
	padding-bottom: 0%;
	height: 480px;
}

.four .mobile-text { top: 42%; }

.one .mobile-text { top: 22%; }

.two .mobile-text { top: 44%; }

.three .mobile-text { top: 10%; }

.banner { opacity: 1 !important; }

.our-alies img {
	display:block;
	margin: 12px 0;
}

.five .five-text { bottom: 2px; }

.see-action { font-size: 35px; }

.five img.inline-play { width: 40px !important; }

.action-enlist .y-icon, .take-action .y-icon, .donate .y-icon { width: 100%; }

.action-enlist .y-text { width: 100%; }

.y-icon img {
	height: 30px;
	width: auto !important;
}

.yellow-bar { padding: 22px 0px 20px 0; }

.take-action .y-icon img {
	float: left;
	padding-bottom: 2px;
	margin-top: 6px;
	margin-right:8px;
	clear:none;
}

.donate .y-text { width: 190px; }

.logo-wrap {
	height: 63px;
	margin-top: -6px;
	width: 188px;
}
} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/*Large screens*/
@media only screen and (min-width: 64.063em) {

header.mini {
	height: 74px;
	padding: 16px 0;
}

header.mini .social img { width: 24px; }

header.mini .logo-wrap {
	height: 27px;
	margin-top: 9px;
}

header.mini ul.mainmenu, header.mini .social { margin-top: 0; }

header {
	position:fixed;
	height: 120px;
}

.layout { padding-top: 120px; }

.yellow-bar .left {
	margin-right: 10%;
	width: 15%;
}

.yellow-bar .right { width: 75%; }
} /* min-width 1025px, large screens */
 @media only screen and (min-width: 64.063em) and (max-width: 90em) {
} /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

/* XLarge screens*/
@media only screen and (min-width: 90.063em) {
} /* min-width 1441px, xlarge screens */
 @media only screen and (min-width: 90.063em) and (max-width: 120em) {
} /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/* XXLarge screens*/
@media only screen and (min-width: 120.063em) {
} /* min-width 1921px, xxlarge screens */

.column .fb-share-button {
	display: block;
}
